/* SMALL DEVICES 0 - 480PX */
@media only screen and (max-width: 480px) {
	/* === Navbar === */
	.input-group {
		width: 165px;
	}

	.filter-icon {
		padding: 0px 0px;
	}

	.cart-icon {
		bottom: 30px;
	}

	/* === CATEGORY SECTION === */
	.box {
		width: auto;
	}

	.category-caption {
		left: 37%;
	}

	/* === NEW ITEMS SECTION === */
	.card {
		width: auto;
		height: auto;
	}
}

/* SMALL PHONES TO SMALL TABLETS 481PX - 767PX */
@media only screen and (max-width: 767px) {
	.card {
		width: auto;
		height: auto;
	}

  .category-caption {
    left: 40%;
	}

  .btn-login,
  .btn-signup {
    display: block;
    margin: 5px 0px;
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .card {
    width: auto;
    height: auto;
  }

  .fix-box {
    margin-right: 0px;
	}
	
	.cart-icon {
		bottom: 32px;
	}
}
