/* SMALL DEVICES 0 - 480PX */
@media only screen and (max-width: 480px) {
  /* ================================================== */
  /* LOGIN PAGE */
  /* ================================================== */
  #form-container h2 {
    text-align: center;
    font-size: 14px;
  }

  .text {
    font-size: 12px;
    text-align: left;
  }

  input[type="email"], 
  input[type="password"], 
  input[type="name"], 
  input[type="tel"], 
  input[type="text"] {
    width: 9.5rem;
  }

  .form-input {
    align-self: center;
  }

  .btn {
	  padding: 10px 15px;
    width: 100%;
  }

  .submit-btn {
    width: 190px;
  }

  .reset {
    width: 190px;
  }
}